* {
    margin: 0;
    padding: 0;
}

html,
body {
    /* height: 100vh;
    width: 100vw; */
}

#mandelbrot-canvas {
    /* center horizontally and vertically */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* prevent scroll bars */
    display: block;
    z-index: -1;
}

#modal {
    padding: 5px;
    width: 30%;
    min-width: 120px;
    max-width: 350px;
    justify-content: center;
}

#modal-content {
    background-color: rgba(21, 99, 216, 0.5);
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}

.boundary-input {
    display: inline-block;
}

#render-speed, #target-iterations {
    width: 100% !important;
    min-width: 90px !important;
}

button[class="btn btn-secondary m-1"] {
    width: 40px;
}

/* input field aggreagte */
.form-control,
.btn-primary {
    width: 100%;
    min-width: 90px;
}